.close {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.close::before,
.close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #aaa;
  width: calc(100% * 3 / 4);
  height: 2px;
  content: "";
}

.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
